* { -webkit-hyphens: none; }
div {

	
}
.clear {clear: both;}
.wrapper {
	
	
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}

.content-area {

	
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
	
	}
}

.widget-area {
	
	
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
	
	}
}




/* Body, links, basics */
html {
	
}
body {
 	font-family: "Open Sans",sans-serif;
	background-image: url(images/bg.png);
	background-repeat: repeat;
}

a {
	outline: none;
	color: #21759b;
	text-decoration: none;
}
a:hover {
	color: #0f3647;
}




/* Page structure */

#main {
	width: 90%;
	margin: 0px auto;
	overflow: hidden;
	padding: 0px 20px;
	background-color: #fff;
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		// width: 1045px;
		width: 90%;
		// padding: 0px 65px;
		padding: 0px 5%;
	}
}
.page-left {
	width: 100%;
	float: left;
	@media screen and (min-width: $tabwidth) {
		width: 66%;
	}
	@media screen and (min-width: $deskwidth) {
		// width: 650px; 
	}
}
.page-right {
	width: 100%; 
	float: right;
	margin-top: 30px;
	@media screen and (min-width: $tabwidth) {
		width: 30%;
	}
	@media screen and (min-width: $deskwidth) {
		// width: 350px; 
	}
}
/* Header 
-------------------------------------------------------------- */
.header {
	width: 100%;
	float: left;
	/*height:218px;*/
	position:relative;	
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		// width: 1045px;
	}
}
#top-header {
	width: 100%;
	height: 32px;
	background-image: url('images/header-bar.png');
	background-repeat: repeat-x; 
	position: relative;
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	
}
#top-header-inside {
	width: 100%;
	margin: 0px auto;
	padding: 0px;	
	overflow: hidden;
	position: relative;
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		width: 1045px;
	}
}
#top-address {
	width: auto; 
	float: right;	
	color: #fff;
	font-size:12px;
	margin-right: 10px;
	margin-top: 5px;
}
#top-buttons {
	width: 90%;
	position: relative;
	margin: 0 auto;
	z-index: 6;	
	@media screen and (min-width: $tabwidth) {
		width: 350px;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	ul {
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		z-index: 2;
		position: relative;

	}
	li {
		display: inline-block;
		position: relative;
		margin: 0px;
		width:30%;
		@media screen and (min-width: $tabwidth) {
			width: auto;
			display: inline-block;
			background-color: rgba($color-green,1);
			border-radius: 0px 0px 5px 5px;
		}
	}
	// li.smat, li.mhpc {float: left;}
	// li.member {
	// 	float: right;
	// 	@media screen and (min-width: $tabwidth) {
	// 		float: left;
	// 	}
	// }
	// a {
	// 	text-decoration: none;
	// 	width: 100%;
	// 	background-color: rgba($color-green,1);
	// 	display: block;
	// 	padding: 15px 10px;
	// 	color: #fff;
	// 	font-size: 12px;
	// 	text-align: center;
	// 	position: relative;
	// 	@media screen and (min-width: $tabwidth) {
	// 		background-image: url(images/top-buttons.png);
	// 		background-repeat: no-repeat;
	// 		background-color: rgba($color-green,0);
	// 		text-indent: -9000px;
	// 		height: 44px;
	// 		display: inline-block;
	// 		padding: 0;
	// 	}
	// }
	a {
		text-decoration: none;
		width: 100%;
		background-color: rgba($color-green,1);
		display: block;
		padding: 10px 10px;
		color: #fff;
		font-size: 12px;
		text-align: center;
		position: relative;
		@include transition(all .3s ease);
		@media screen and (min-width: $tabwidth) {
			background-color: rgba($color-green,2);
			display: inline-block;
			border-radius: 0px 0px 5px 5px;
		}
		&:hover {
			background-color: rgba(#fff,.2);
		}
	}
	// .smat a {
	// 	background-position: -0px -0px;
	// 	position: relative;
	// 	@media screen and (min-width: $tabwidth) {
	// 		width:175px;
	// 	}
	// 	&:hover {
	// 		background-position: -0px -5px;
	// 	}
	// }
	// .mhpc a {
	// 	background-position: -0px -50px;
	// 	position: relative;
	// 	@media screen and (min-width: $tabwidth) {
	// 		width:175px;
	// 	}
	// 	&:hover {
	// 		background-position: -0px -55px;
	// 	}
	// }
	// .member a {
	// 	background-position: -175px 0px;
	// 	position: relative;
	// 	@media screen and (min-width: $tabwidth) {
	// 		width:175px;
	// 	}
	// 	&:hover {
	// 		background-position: -175px -5px;
	// 	}
	// }
}

#alert {
	width: 100%;
	background-color: #F92F3E;
	color: #fff;
	border: 1px #F00 solid;
	padding: 0px;
	position: relative;
	line-height: 1.4;
	font-size: 16px;
	z-index: 1000;
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
#alert-inside {
	width: 100%;
	padding: 10px 10px 20px 10px;
	margin: 0 auto;	
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		width: 1025px;
	}
}
#alert a {
	color:#fff;
}
#alert-title {
	
}
#alert-message {
	
}

.logo-mhpc,
.logo-mhpc-front {
	background: {
		image: url(images/logo.png);
		size: cover;
	}
}
.logo-smat, 
.logo-smat-front 
{
	background: {
		image: url(images/SMAT-logo.png);
		size: cover
	}
}
// .logo,
//  h1.logo{
// 	// width: 344px;
// 	// height: 140px;
// 	margin: 10px auto;
// 	width: 280px;
// 	height: 114px;
// 	z-index: 1;
	
// 	@media screen and (min-width: $tabwidth) {
// 		float: left;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		// width: 344px;
// 		// height: 140px;
// 	}
	
// }
.logo-mhpc-front, 
.logo-smat-front {
	margin: 10px auto;
	width: 280px;
	height: 114px;
	z-index: 1;
	
	@media screen and (min-width: $tabwidth) {
		width: 280px;
		height: 114px;
		
	}
	@media screen and (min-width: $deskwidth) {

	}
	
}
.logo-smat,
.logo-mhpc {
	margin: 10px auto;
	width: 280px;
	height: 114px;
	z-index: 1;
	
	@media screen and (min-width: $tabwidth) {
		float: left;
	}
	@media screen and (min-width: $deskwidth) {

	}
	
}
// .logo a, h1.logo a{
// 	width: 280px;
// 	height: 114px;
// 	display: block;
// 	text-indent: -9000px;
// 	@media screen and (min-width: $tabwidth) {
// 		width: 280px;
// 		height: 114px;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		width: 344px;
// 		height: 140px;
// 	}
	
// }
.logo-smat-front, 
.logo-mhpc-front {
	width: 90px;
	height: 37px;
	
	z-index: 1;
	margin: 10px auto;
	text-indent: -9000px;
	@media screen and (min-width: $tabwidth) {
		width: 120px;
		height: 49px;
	}
	@media screen and (min-width: $midwidth) {
		width: 280px;
		height: 114px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 344px;
		height: 140px;
	}
}
.logo-smat-front a, 
.logo-mhpc-front a {
	width: 90px;
	height: 37px;
	display: block;
	text-indent: -9000px;
	@media screen and (min-width: $tabwidth) {
		width: 120px;
		height: 49px;
	}
	@media screen and (min-width: $midwidth) {
		width: 280px;
		height: 114px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 344px;
		height: 140px;
	}
}
.logo-smat, 
.logo-mhpc {
	width: 280px;
	height: 114px;
	
	z-index: 1;
	margin: 10px auto;
	text-indent: -9000px;
	@media screen and (min-width: $tabwidth) {
		width: 280px;
		height: 114px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 344px;
		height: 140px;
	}
}
.logo-smat a, 
.logo-mhpc a {
	width: 280px;
	height: 114px;
	display: block;
	text-indent: -9000px;
	@media screen and (min-width: $tabwidth) {
		width: 280px;
		height: 114px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 344px;
		height: 140px;
	}
}
.top-description {
	font-family: 'Sintony', sans-serif;
	font-size: 17px;
	color: #00848D;
	font-style: italic;
	line-height: 1.4;
	width: 100%;
	float:right;
	overflow-x: scroll;
	margin: 25px 0;
	text-align: center;
	padding: 0 10px 0 0;
	@media screen and (min-width: $tabwidth) {
		// width: 40%;
		text-align: right;
		margin: 25px 10px 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		// width: 460px;
	}
}
#jstwitter {
	width: 300px;
	font-size: 15px;
	color: #333333;
  margin: 0 auto;
  text-align:center;
}

#jstwitter .tweet {
	margin: 0 auto 15px auto;
	padding: 15px;
	border-radius:3px;
  background:#ffffff;
  text-align:left;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

#jstwitter .tweet a {
	text-decoration: none;
	color: #13c9d0;
}

#jstwitter .tweet a:hover {
	text-decoration: underline;
}

#jstwitter img {
  display:block;
  margin-bottom:5px;
  max-width:100%;
}

#jstwitter .tweet .time {
	font-size: 10px;
	font-style: italic;
	color: #666666;
  display:block;
  margin-top:3px;
}
.site-desc {
	font-family: 'Sintony', sans-serif;
	font-size: 17px;
	color: #00848D;
	font-style: italic;
	line-height: 1.4;
	width: 100%;
	float: left;
	margin: 25px 0;
	text-align: center;
	padding: 0 5% 0 5% ;
	@media screen and (min-width: $tabwidth) {
		text-align: center;
		margin: 25px 0px 25px 0;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
.header-right {
	width: 100%;
	float:right;
	@media screen and (min-width: $tabwidth) {
		width: 40%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 500px;
	}
}

/* Social 
-------------------------------------------------------------- */
#sociallinks {
	width: 150px;
	position: relative;
	margin: 10px auto;
	z-index: 6;	
	
	@media screen and (min-width: $tabwidth) {
		margin: 10px 10px 0 0;
		float: right;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}

#sociallinks  ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	z-index: 2;
	position: relative;
}
#sociallinks  ul li {
	float: left;
	position: relative;
	margin: 0px 5px;
}
#sociallinks  ul a {
	
	text-decoration: none;
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	text-indent: -9000px;
	position: relative;
}
#sociallinks  .facebook a {
	width:30px;
	background-position: -60px -0px;
	position: relative;
	
}
#sociallinks .facebook a:hover {
	background-position: -60px -30px;
	
}
#sociallinks  .twitter a {
	width:30px;
	background-position: -30px -0px;
	position: relative;
	
}
#sociallinks .twitter a:hover {
	background-position: -30px -30px;
	
}
#sociallinks  .linkedin a {
	width:30px;
	background-position: -0px -0px;
	position: relative;
	
}
#sociallinks .linkedin a:hover {
	background-position: -0px -30px;
	
}
#sociallinks  .youtube a {
	width:60px;
	background-position: -93px -0px;
	position: relative;
	
}
#sociallinks .youtube a:hover {
	background-position: -93px -30px;
	
}
.header-facebook {
	width:30px;
	height: 30px;
	position: absolute;
	top: 130px;
	right: 10px;
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	text-indent: -9000px;
}
.header-facebook a {
	width:30px;
	height: 30px;
	background-position: -60px -0px;
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	text-indent: -9000px;
	display: block;
	
}
.header-facebook a:hover {
	background-position: -60px -30px;
	
}
.header-twitter {
	width:30px;
	height: 30px;
	position: absolute;
	top: 130px;
	right: 50px;
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	text-indent: -9000px;
}
.header-twitter a {
	width:30px;
	height: 30px;
	background-position: -30px -0px;
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	text-indent: -9000px;
	display: block;
	
}
.header-twitter a:hover {
	background-position: -30px -30px;
	
}
.facebook-like {
	width: 64px;
	position: absolute;
	top: 135px;
	right: 20px;
		
}
/* Footer */
#footer {
	width: 100%;
	overflow:hidden;
	background-color: $color-green;	
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
.site-info {
	width: 100%;
	margin: 0px auto;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-family: 'Sintony', sans-serif;	
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
.site-info p {
	margin: 5px 0px;	
}
.site-info a {
	color: #fff;	
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/*#alpha { display: none; }*/
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item img {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item img {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
.blog-featured-image img,
  {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
	display:  block;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
.twitter-feed {
	display: none;
	@media screen and (min-width: $tabwidth) {
		display: block;
		width: 3400px; // 340px X 10 tweets
		float: left;
		position: relative;
		overflow: hidden;
		height: 190px;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	&::-webkit-scrollbar {
    	width: 12px;
	}
	 
	&::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}
	 
	&::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	.italic-tweets {
		@media screen and (min-width: $tabwidth) {
			left: 100px;
			width: auto;
			position: absolute;
			bottom: 5px;
		}
		@media screen and (min-width: $deskwidth) {
			left: 370px;
		}
	}
	.the-tweet {
		width: 320px;
		float: left;
		margin-right: 20px;
		text-align: left;
		border: 1px solid #eee;
		a {
			display: inline-block;
			width: 100%;
			padding: 10px;
			line-height: 0;
			@include transition(all .3s ease);
			&:hover {
				background-color: rgba($color-green, .1);
			}
		}
		.user-image {
			width: 48px;
			float: left;
			margin-right: 5px;
		}
		.actual-text {
			width: 290px;
		}
		.text {
			width: 100%;
			float: left;
			line-height: 1;
			margin: 0 0 5px 0;
		}
		.image {
			width: 100%;
			float: left;
			img {
				width: 100%;
			}
		}
	}

}