/* navigation */
.navigation {
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 25px;

	ul {
		margin: 0;
		padding: 0;
	}	
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: #CCCCCC;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: $color-green;
}